<header>
  <h2><a href="#"></a>Mountain Travel</h2>
  <nav>
    <li><a href="#">Tours</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </nav>
</header>

<section class="hero">
  <div class="background-image" style="background-image: url(assets/Half_Dome_yosemite_national_park_mountains.jpg);"></div>
  <div class="hero-content-area"></div>
    <h1>Mountain Travel</h1>
    <h3>Unmissable Adventure Tours Around The World</h3>
    <a href="#" class="btn">Contact Us Now</a>
</section>
<router-outlet></router-outlet>