/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: quicksand;
    src: url(assets/fonts/Quicksand-Medium.ttf);
}
@font-face {
    font-family: opensans;
    src: url(assets/fonts/OpenSans-Regular.ttf);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
